<aside>
    <form action="">
        <button type="submit">
            <div class="aside-option" style="margin-bottom: 20vh;"><svg width="50" height="50px"
                    viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #020202;
                                stroke-miterlimit: 10;
                                stroke-width: 1.91px;
                            }
                        </style>
                    </defs>
                    <circle class="cls-1" cx="12" cy="4.34" r="2.86" />
                    <circle class="cls-1" cx="19.64" cy="16.75" r="2.86" />
                    <circle class="cls-1" cx="4.36" cy="16.75" r="2.86" />
                    <path class="cls-1" d="M6,19.09a8.59,8.59,0,0,0,12,0" />
                    <path class="cls-1" d="M14.82,4.82a8.57,8.57,0,0,1,5.77,8.11,6.71,6.71,0,0,1-.08,1.1" />
                    <path class="cls-1" d="M3.49,14a6.71,6.71,0,0,1-.08-1.1A8.57,8.57,0,0,1,9.18,4.82" />
                </svg></div>
        </button>
    </form>


    <form action="">
        <button type="submit">
            <div class="aside-option"><svg fill="#000000" width="50px" height="50px" viewBox="0 0 36 36"
                    version="1.1" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">

                    <path class="clr-i-solid clr-i-solid-path-1"
                        d="M33,19a1,1,0,0,1-.71-.29L18,4.41,3.71,18.71a1,1,0,0,1-1.41-1.41l15-15a1,1,0,0,1,1.41,0l15,15A1,1,0,0,1,33,19Z">
                    </path>
                    <path class="clr-i-solid clr-i-solid-path-2"
                        d="M18,7.79,6,19.83V32a2,2,0,0,0,2,2h7V24h6V34h7a2,2,0,0,0,2-2V19.76Z">
                    </path>
                    <rect x="0" y="0" width="36" height="36" fill-opacity="0" />
                </svg>
                <p>Inicio</p>
            </div>
        </button>
    </form>


    <form action="">
        <button type="submit">
            <div class="aside-option"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 2H6v2h12V2zM4 6h16v2H4V6zm-2 4h20v12H2V10zm18 10v-8H4v8h16z" fill="#000000" />
                </svg>
                <p>Subscripciónes</p>
            </div>
        </button>
    </form>






    <form action="/login">
        <button type="submit">
            <div class="aside-option"><svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24"
                    id="user" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
                    <path id="primary"
                        d="M21,20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2,6,6,0,0,1,6-6h6A6,6,0,0,1,21,20Zm-9-8A5,5,0,1,0,7,7,5,5,0,0,0,12,12Z"
                        style="fill: rgb(0, 0, 0);"></path>
                </svg>
                <p>Cuenta</p>
            </div>
        </button>
    </form>

    <form action=""  style="margin-top: auto;margin-bottom: 50px;">
        <button type="submit">
            <div class="aside-option"><svg width="50px"
                    height="50px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1 1L8 1V2L2 2L2 13H8V14H1L1 1ZM10.8536 4.14645L14.1932 7.48614L10.8674 11.0891L10.1326 10.4109L12.358 8L4 8V7L12.2929 7L10.1464 4.85355L10.8536 4.14645Z"
                        fill="#000000" />
                </svg>
                <p>Logout</p>
            </div>
        </button>
    </form>


</aside>